
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 50px;
    height: 100px;
    background-color: #12132D;
    color: #fff;
    text-align: center;
    font-family: '  font-family: "Mulish", sans-serif;';
    font-style: normal;
    border-radius: 6px;
    padding: 5px ;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
  }

  .tooltip:hover.tooltiptext {
    visibility: visible;
  }